@media screen and (min-width: 500px) {
    body {
            font-family: "Roboto Flex", sans-serif;
            font-weight: 400;
        }
    
    header {
        margin: 1rem auto;
        border: 1px solid #bbb;
        padding: 1rem;
        background-color: darkblue;
        color: #eeebd8;
    }
    main,
    footer {
        margin: 1rem auto;
        border: 1px solid #bbb;
        padding: 1rem;
        background-color: #e6f2ff;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
    
    section {
        padding: 1rem;
        background-color: #fff;   }
}