 header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: blue;
    color: #eeebd8;
    max-width: 900px;
    height: 30px;
    margin: 0 auto;
    border: 1px solid darkblue;
}

header span {
    font-weight: 100;
    padding: 0 20px;
}

/* Course title inside header */
#course-title {
    font-size: 32px;
}

main {
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid darkblue;
}

h1 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    place-items: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

.gallery figure {
    text-align: center;
    margin: 0;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px; }

/* ==== FOOTER ==== */
footer {
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid darkblue;
    background-color: darkblue;
    color: yellow;
    padding: 2px 0;
    text-align: center;
    grid-column: 1 / 3;
}

@media (min-width: 641px) {
    #menu {
        display: none;   
        }
    /* ==== Navigation ==== */
    .navBar {
        padding: 0 20px;
    }
    .navigation {
        display: flex;
        gap: 25px;
        list-style: none;
    }
    
    .navigation a {
        text-decoration: none;
        color: yellow;
    }

    .navigation a:hover {
        color: blue;
        background-color: yellow;
        padding: 5px;
        border-radius: 5px;
    }

    .navigation a.active {
        color: darkblue;
        background-color: lightyellow;
        font-weight: bold;
        border-radius: 4px;
        padding: 5px 10px;     
    }
}